# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

src/assets/_shp_
src/assets/models
src/assets/results
src/assets/result_all
src/assets/result_full
src/assets/result_sky
src/assets/result_solar
src/assets/result_solar_old
src/assets/result_uhi
src/assets/result_wind
src/assets/result_img_sky
src/assets/result_img_solar
src/assets/result_img_uhi
src/assets/result_img_wind
src/assets/simdata
src/assets/old

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
